package com.example.banking.service;

import com.example.banking.model.Account;
import com.example.banking.repository.AccountRepository;
import org.springframework.stereotype.Service;
import java.util.List;

@Service
public class AccountService {
    private final AccountRepository repo;

    public AccountService(AccountRepository repo) {
        this.repo = repo;
    }

    public List<Account> getAllAccounts() {
        return repo.findAll();
    }

    public Account getAccountById(Long id) {
        return repo.findById(id).orElse(null);
    }
}
