{
  "name": "Alex Kumar",
  "accountNumber": "4412123478906753",
  "bankName": "Standard Chartered",
  "balance": 97851.32,
  "initialBalance": 5000000,
  "currency": "USD",
  "transactions": [
    {
      "date": "2025-10-07",
      "txnId": "TNX005298076301",
      "description": "Managerial Batch salary",
      "amount": 11380,
      "approver": "Jane Margolis"
    }
  ]
}
